---
http_interactions:
- request:
    method: delete
    uri: https://secure.payu.com/api/v2/orders/VQWQ6XMVKR140415GUEST000P01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - Basic MTE0MjA3OjFmOWZkNzI5ODA5N2I5NDE0ZGI1ZDFiZmQxMjA0ZDIw
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: '{"extOrderId":"1342","orderId":"VQWQ6XMVKR140415GUEST000P01","version":"2.0","redirectUri":null,"status":{"code":null,"codeLiteral":null,"statusCode":"SUCCESS","statusDesc":"Request
        processing successful","severity":null,"location":null},"resId":null,"properties":null}'
  recorded_at: Wed, 28 May 2014 08:25:01 GMT
recorded_with: VCR 2.9.2
