---
http_interactions:
- request:
    method: post
    uri: https://secure.payu.com/pl/standard/user/oauth/authorize?client_id=123&client_secret=foobar&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: '{"access_token":"7a490846-d898-4780-8ce8-5a41efbb0000","token_type":"bearer","expires_in":43199,"grant_type":"client_credentials"}'
  recorded_at: Wed, 28 May 2014 08:25:01 GMT
- request:
    method: post
    uri: https://secure.payu.com/api/v2_1/orders
    body:
      encoding: UTF-8
      string: '{"currencyCode":"PLN","validityTime":"48000","merchantPosId":"114207","continueUrl":"http://localhost/","buyer":{"lastName":"Kowalski","email":"dd@ddd.pl","firstName":"Jan","phone":"123123123"},"totalAmount":100,"notifyUrl":"http://localhost/","products":{"products":[{"name":"Mouse","quantity":1,"unitPrice":100}]},"extOrderId":1342,"customerIp":"127.0.0.1","description":"New
        order"}'
    headers:
      authorization:
      - Basic MTE0MjA3OjFmOWZkNzI5ODA5N2I5NDE0ZGI1ZDFiZmQxMjA0ZDIw
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: '{"extOrderId":"1342","orderId":"NJZFFJ82D2140528GUEST000P01","payMethods":null,"version":"2.0","redirectUri":"https://secure.payu.com/pl/standard/co/dot/authenticate/anonymous?sessionId=13423&merchantPosId=114207","status":{"code":null,"codeLiteral":null,"statusCode":"SUCCESS","statusDesc":null,"severity":null,"location":null},"resId":null,"properties":null}'
  recorded_at: Wed, 28 May 2014 12:21:23 GMT
recorded_with: VCR 2.9.2
