---
http_interactions:
- request:
    method: post
    uri: https://secure.payu.com/pl/standard/user/oauth/authorize?client_id=123&client_secret=foobar&grant_type=client_credentials
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: '{"access_token":"7a490846-d898-4780-8ce8-5a41efbb0000","token_type":"bearer","expires_in":43199,"grant_type":"client_credentials"}'
  recorded_at: Wed, 28 May 2014 08:25:01 GMT
- request:
    method: put
    uri: https://secure.payu.com/api/v2_1/orders/NJZFFJ82D2140528GUEST000P01/status
    body:
      encoding: UTF-8
      string: '{"orderStatus":"COMPLETED","orderId":"NJZFFJ82D2140528GUEST000P01"}'
    headers:
      authorization:
      - Basic MTE0MjA3OjFmOWZkNzI5ODA5N2I5NDE0ZGI1ZDFiZmQxMjA0ZDIw
      content-type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
    body:
      encoding: US-ASCII
      string: '{"version":"2.0","redirectUri":null,"status":{"code":null,"codeLiteral":null,"statusCode":"SUCCESS","statusDesc":"Status
        was updated","severity":null,"location":null},"resId":null,"properties":null}'
  recorded_at: Wed, 28 May 2014 12:23:18 GMT
recorded_with: VCR 2.9.2
